# Django
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

# Environments 
.env 
.venv
secrets/ 
secrets.env

# Visual Studio Code
.vscode/*
.history

# DOcker
docker-compose.yml
Dockerfile

# Others
screenshots/
logs.txt
AGENTS.md
LICENSE.md
README.md