<style>
.title-pill {
    display: inline-block;
    background-color: #EEE3D7;
    border-radius: 20px;
    padding: 8px 16px 8px 16px;
}
.pet-photo {
    width: 250px;
    height: 250px;
    border-radius: 120px;
    border: 5px solid #EEE3D7;
    /* border-color: red; */
}
</style>

<div class="container">
    <div class="row mt-3">
        <!-- "YOU FOUND A PET" PILL -->
        <div class="col text-center">
            <div class="title-pill">                
                <svg class="p-inline" width="16" height="16">
                    <circle cx="7px" cy="7px" r="7px" fill="#44b37f3a"/>
                    <circle cx="7px" cy="7px" r="5px" fill="#31835D"/>
                </svg>
                <span style="color: #31835D;">You found a lost pet!</span>         
            </div>
        </div>
    </div>
    <!-- PET IMAGE -->
    <div class="row mt-3">
        <div class="col text-center">
            <img class="pet-photo" src="{{pet_photo.url}}" alt="...">
        </div>
    </div>
    <div class="row mt-3 text-center">
        <h1><b>{{pet_name}}</b></h1>
        <p class="user-info-title">Help me get back home!</p>
    </div>
</div>