<style>
.title-pill {
    display: inline-block;
    background-color: #EEE3D7;
    border-radius: 20px;
    padding: 8px 16px 8px 16px;
}
</style>

<p> {{pet_name}} is lost! </p>
<div class="container">
    <div class="row">
        <div class="col text-center">
            <div class="title-pill">                
                <svg class="p-inline" width="16" height="16">
                    <circle cx="7px" cy="7px" r="7px" fill="#44b37f3a"/>
                    <circle cx="7px" cy="7px" r="5px" fill="#31835D"/>
                </svg>
                <span style="color: #31835D;">You found a lost pet!</span>         
            </div>
        </div>
    </div>
</div>